body {
  background: black;
  color: gray;
}

#screen {
  font-family: monospace;
  background: black;
  color: gray;
  white-space: pre;
}

#screen div {
  height: 17px;
  overflow: hidden;
}

#screen div span {
  width: 8px; /* NOTE: font-dependent... */
  display: inline-block;
  overflow: hidden;
}

.cursor {
  border: 1px solid white;
  width: 7px !important; /* override #screen div span */
  height: 14px; /* normally 8x15 */
  margin-left: -1px;
}

.fg0:not(.rev), .bg0.rev {
  color: #000000;  /* black */
}
.fg1:not(.rev), .bg1.rev {
  color: #c81a00;  /* red */
}
.fg2:not(.rev), .bg2.rev {
  color: #00c300;  /* green */
}
.fg3:not(.rev), .bg3.rev {
  color: #c7c500;  /* yellow */
}
.fg4:not(.rev), .bg4.rev {
  color: #0225c7;  /* blue */
}
.fg5:not(.rev), .bg5.rev {
  color: #ca30c7;  /* magenta */
}
.fg6:not(.rev), .bg6.rev {
  color: #00c5c7;  /* cyan */
}
.fg7:not(.rev), .bg7.rev {
  color: #c7c7c7;  /* light gray */
}


.fg0:not(.rev).b, .bg0.rev.b {
  color: #686868;  /* dark gray */
}
.fg1:not(.rev).b, .bg1.rev.b {
  color: #ff6467;  /* bright red */
}
.fg2:not(.rev).b, .bg2.rev.b {
  color: #60fa67;  /* bright green */
}
.fg3:not(.rev).b, .bg3.rev.b {
  color: #fffc67;  /* bright yellow */
}
.fg4:not(.rev).b, .bg4.rev.b {
  color: #6971ff;  /* bright blue */
}
.fg5:not(.rev).b, .bg5.rev.b {
  color: #ff77ff;  /* bright magenta */
}
.fg6:not(.rev).b, .bg6.rev.b {
  color: #60fdff;  /* bright cyan */
}
.fg7:not(.rev).b, .bg7.rev.b {
  color: #ffffff;  /* white */
}


.bg0:not(.rev), .fg0.rev {
  background: #000000;  /* black */
}
.bg1:not(.rev), .fg1.rev {
  background: #c81a00;  /* red */
}
.bg2:not(.rev), .fg2.rev {
  background: #00c300;  /* green */
}
.bg3:not(.rev), .fg3.rev {
  background: #c7c500;  /* yellow */
}
.bg4:not(.rev), .fg4.rev {
  background: #0225c7;  /* blue */
}
.bg5:not(.rev), .fg5.rev {
  background: #ca30c7;  /* magenta */
}
.bg6:not(.rev), .fg6.rev {
  background: #00c5c7;  /* cyan */
}
.bg7:not(.rev), .fg7.rev {
  background: #c7c7c7;  /* light gray */
}


.b {
  font-weight: bold;
  /* TODO(sdh): brighter colors */
}

.i {
  text-style: italic;
}

.u {
  text-decoration: underline;
}

/* TODO(sdh): blink? */
